.tabla{
  color: rgb(160, 0, 99);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color:rgb(183, 215, 236);
  border: 3px solid rgb(190, 66, 194);
  font-size: 25px;
}

body{
  background-color: rgb(192, 172, 211);

}
.div{
  text-align:center;
  display: flex;
  justify-content: center;
  
}

h1{
  color: rgb(245, 245, 245);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 50px;
  text-align:center;
  padding: 15px;


}